@media screen and (max-width: 1024px) {
    .topnav {
        background-attachment: scroll;
    }
    .about {
        flex-wrap: wrap;
    }
    .img img {
        max-width: 100%;
    }
    .about {
        flex-direction: column;
    }
    .card {
        padding: 10px;
        margin: 10px;
    }
}